node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
apiKkeys.js

# macOS
.DS_Store

# API keys
config/keys.js

# dotenv environment variables file
.env

